<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:horizonos="http://schemas.horizonos/sdk"
    package="com.example.custom_webview"
    android:versionCode="16777480"
    android:versionName="0.1.0">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="34" />

    <horizonos:uses-horizonos-sdk
        horizonos:minSdkVersion="69"
        horizonos:targetSdkVersion="76" />

    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="true"
        android:version="1" />

    <application
        android:label="wgpu_example_04_custom_webview"
        android:hasCode="true"
        android:debuggable="true">

        <activity
            android:name=".PanelActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode|density"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="wgpu_example_04_custom_webview" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VrActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode|density"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="wgpu_example_04_custom_webview" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".HybridLaunchReceiver"
            android:exported="true" />
    </application>
</manifest>
